page-comerciosx-sector {
  .toolbar-background {
    background-color: #f37820;
  }
  .toolbar-title-md{
    color: #f4f4f4;
}
    ul {
  padding: 0px;
  margin: 0;

  &.rating li {
    padding: 5px 5px !important;
    background: none;
    color: #fde001;

    ion-icon {
      font-size: 13px;
    }
  }
}
.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.item-md{
  border-radius: 20px;
  background-color: #ff8a00;
  border: 3px white solid;
  margin-bottom: 10px;
}
.button-clear-md{
  color: black;
}
}
