page-home {
    .toolbar-background {
        background-color: #f37820;
      }
      .button-md{
          background-color: #f37820;
      }
      .toolbar-title-md{
          color: #f4f4f4;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
          color: #f4f4f4;
      }
      p{
          margin-bottom: 30px;

      }
      img{
          margin-bottom: 20px;
      }
}
