page-home {
    .toolbar-background {
        background-color: #f37820;
      }
      .button-md{
          background-color: #f37820;
      }
      .toolbar-title-md{
          color: #f4f4f4;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
          color: #f4f4f4;
      }
      p{
          margin-bottom: 30px;

      }
      agm-map {
        height: 200px;
      }
      ion-card {
        position: relative;
        text-align: center;
      }
      button{
          padding: 0;
      }
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 1.3em;
        width: 100%;
        font-weight: bold;
        color: #843636;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 75%;
        width: 100%;
        color: #fff;
      }
    
}
