page-productos-categoria {
    .image-container{
        max-width: 50%;
        text-align: center;
    }
    img{
        margin-left: 50%;
    }
    ion-col{
        text-align: center;
    }
    .toolbar-background {
        background-color: #f37820;
    }
    .toolbar-title-md{
        color: #f4f4f4;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #f4f4f4;
    }
}
